NEXT_PUBLIC_API_URL=https://sail.uz/server/

# Telegram Login Widget
# Get your bot username from @BotFather
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=sail2_bot
TELEGRAM_BOT_TOKEN=8314735056:AAEQSsb7cgR-VR4U6rPZ8z_pHLUViH2asc8
DJANGO_SECRET_KEY=RcvxN72yZ5h7xJSerOFmdkBp0FLK5ZPi